body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 13px;
  color: #9ab;
  background-color: #14181c;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1350px;
  height: 95px;
  margin-bottom: -23px;
}

.navsection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 950px;
  height: 72px;
  color: #99aabb;
}

.navection nav {
  font-size: 1rem;
  margin-left: 15px;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1350px;
  height: 675px;
}

.container div {
  background-image: url(public/sfondo.jpg);
  background-position: center center;
  background-size: cover;
  position: absolute;
  height: 675px;
  top: 0;
  left: 20vh;
  width: 1200px;
  z-index: -1;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1200px;
  height: 100%;
  margin-top: -12%;
  left: 20vh;
  top: 0;
}

.wrapper h2 {
  text-align: center;
  font-size: 2rem;
  line-height: 1.3;
  color: white;
  margin-bottom: -0.6em;
}

#spam {
  text-align: center;
  font-size: 1.2rem;
  width: 23%;
  height: 16px;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  background-color: #00c030;
  line-height: 1;
  padding: 0.625em 1.5em;
  border-radius: 3px;
}

#spam:hover {
  background-color: green;
}

.socials {
  margin-right: 0.5rem;
  margin-bottom: 0.7rem;
  text-align: center;
  width: 950px;
  height: 26px;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 5%;
}

.socials img {
  height: 26px;
}

.boxad {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 950px;
  height: 265px;
  padding: 0 0 3rem;
  gap: 0.3rem;
  z-index: 0;
}

.boxad img {
  border-radius: 5px;
  height: 231px;
}

#feature {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding-bottom: 3rem;
  width: 950px;
  height: 327px;
}

#feature h1 {
  font-size: 13px;
  font-weight: 400;
  margin: 20px 0px 10px;
}

.fbox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 75%;
}

.fbox a {
  display: flex;
  justify-content: space-around;
  background-color: #445566;
  width: 310px;
  height: 100px;
  border: none;
  margin-bottom: 10px;
}

.fbox a:hover {
  background-color: orange;
}

.fbox a img {
  width: 70px;
  height: 40px;
  padding: 16px 20px 18px;
}

.panel {
  margin: 0 0 65px;
  padding-top: 5px;
  font-size: 14px;
  margin-left: 20px;
  line-height: 1.5;
}

.fbox .azzurro:hover {
  background-color: rgb(38, 81, 199);
}

.fbox .verde:hover {
  background-color: rgb(4, 166, 4);
}

.fbox .arancione:hover {
  background-color: orange;
}
