@import url(https://db.onlinewebfonts.com/c/f82a45d96a5a30abb6417c5b81fc416d?family=Graphik+LC+Web+Semibold+Regular);
@font-face {
  font-family: "Graphik LC Web Semibold Regular";
  src: url("https://db.onlinewebfonts.com/t/f82a45d96a5a30abb6417c5b81fc416d.eot");
  src: url("https://db.onlinewebfonts.com/t/f82a45d96a5a30abb6417c5b81fc416d.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/f82a45d96a5a30abb6417c5b81fc416d.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/f82a45d96a5a30abb6417c5b81fc416d.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/f82a45d96a5a30abb6417c5b81fc416d.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/f82a45d96a5a30abb6417c5b81fc416d.svg#Graphik LC Web Semibold Regular")
      format("svg");
}

body {
  margin: 0;
  font-family: "Graphik LC Web Semibold Regular";
  font-size: 13px;
  color: #9ab;
  background-color: #14181c;
  overflow-x: hidden;
}

span {
  font-weight: bold;
}

a {
  color: white;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88vw;
  height: 95px;
  margin-bottom: -23px;
}

input {
  border-radius: 20px;
  border: none;
  width: 140px;
  height: 30px;
  background-color: #445566;
}

.logo {
  margin-top: 2%;
}

.mobilenav {
  display: none;
}

.logoletterbox {
  display: none;
}

.navsection {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  align-items: center;
  width: 62vw;
  height: 72px;
  color: #99aabb;
}

.navsection nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  gap: 10px;
}

.navsection nav a span {
  color: #d8e0d8;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88vw;
  height: 675px;
}

.container div {
  background-image: url(public/sfondo.png);
  background-position: center center;
  background-size: cover;
  position: absolute;
  left: 10vw;
  height: 675px;
  top: 0;
  width: 78vw;
  z-index: -1;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 10vw;
  width: 78.3vw;
  height: 100%;
  margin-top: -12%;
  top: 0;
}

.wrapper h2 {
  text-align: center;
  font-size: 2rem;
  line-height: 1.3;
  color: white;
  margin-bottom: -0.6em;
}

#spam {
  text-align: center;
  font-size: 1.2rem;
  width: 23%;
  height: 16px;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  background-color: #00c030;
  line-height: 1;
  padding: 0.625em 1.5em;
  border-radius: 3px;
}

#spam:hover {
  background-color: green;
}

.socials {
  margin-right: 0.5rem;
  margin-bottom: 0.7rem;
  text-align: center;
  width: 62vw;
  height: 26px;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 5%;
}

.socials img {
  height: 26px;
}

.boxad {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 62vw;
  height: 265px;
  padding: 0 0 3rem;
  gap: 0.3rem;
  z-index: 0;
}

.boxad img {
  border-radius: 5px;
  height: 231px;
}

.fotomobile {
  display: none;
}

.boxad img:hover {
  border: 3px solid green;
}

#feature {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 2.5rem;
  width: 62vw;
  height: 327px;
}

#feature h1 {
  font-size: 13px;
  font-weight: 400;
  margin: 20px 0px 10px;
}

.fbox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 75%;
}

.arancione,
.azzurro,
.verde {
  display: flex;
  justify-content: space-around;
  background-color: #445566;
  width: 20.2vw;
  height: 100px;
  border: none;
  margin-bottom: 10px;
}

.fbox a img {
  width: 4.57vw;
  height: 40px;
  padding: 16px 20px 18px;
}

.panel {
  margin: 0 0 65px;
  padding-top: 5px;
  font-size: 14px;
  margin-left: 20px;
  line-height: 1.5;
}

.azzurro:hover {
  background-color: rgb(38, 81, 199);
}

.verde:hover {
  background-color: rgb(4, 166, 4);
}

.arancione:hover {
  background-color: orange;
}

.livefeed {
  width: 62vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.livefeed h2 {
  color: #9ab;
  font-size: 13px;
  margin-top: 1%;
  letter-spacing: 0.075em;
}

.livefeed div {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  width: 62vw;
  padding-top: 0.8rem;
  border-top: 1px solid #456;
  margin-top: -2%;
}

#counter {
  color: #678;
  font-size: 10px;
  line-height: 1;
  padding-top: 5px;
  margin-bottom: 20px;
}

.livefeed img {
  height: 100%;
  border: 1px solid white;
}

.livefeed img:hover {
  border: 3px solid green;
}

h1 {
  margin-top: 3rem;
  color: #abc;
  font-size: 1.5rem;
  line-height: 1;
  text-align: center;
  overflow-wrap: break-word;
}

.word {
  color: #89a;
  margin: 0 0 3.69230769rem;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1;
}

.word span {
  color: white;
}

.reviews {
  display: flex;
  width: 62vw;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 3rem;
}

.colonna1 {
  width: 41.1vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 0;
  padding: 0 0 2.5rem;
}

.news {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #456;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.075em;
  margin-bottom: 0.76923077rem;
  margin-top: 0;
  padding-bottom: 5px;
  width: 41.1vw;
}

.news a {
  color: #678;
  font-size: 13px;
}

.recensioni {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: none;
  width: 41.1vw;
  height: auto;
  margin-bottom: 15px;
  z-index: 0;
}

.bloccorec {
  display: flex;
  justify-content: flex-start;
  padding-top: 0;
  border-color: #2c3440;
  border-bottom: 1px solid #456;
  padding: 15px 0 18px;
  line-height: 1.3;
}

.recensioni div a {
  margin-right: 20px;
}

.film-content {
  width: 35.2vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.titolofilm {
  display: flex;
  width: 35.2vw;
  justify-content: flex-start;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 10px;
  color: white;
  line-height: 1.2;
}

.nomefilm {
  font-family: Georgia, serif;
  font-size: 1.4rem;
  margin-right: 5px;
  line-height: 1.2;
  font-weight: bold;
}

.anno {
  margin-top: 0.25rem;
  color: #89a;
  font-size: 1rem;
}

.utente {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 10px;
  color: #678;
}

.locandina img {
  border: 1px solid white;
}

.locandina img:hover {
  border: 3px solid green;
}

.avatar {
  margin-top: 15px;
  align-self: flex-start;
}

.likez {
  display: flex;
  width: 6.52vw;
  justify-content: space-around;
}

.avatar img {
  height: 24px;
  width: 1.56vw;
  border-radius: 10px;
}

.nickname {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-size: 1rem;
  line-height: 24px;
}

.nickname a {
  font-weight: bold;
}

.stelline {
  position: relative;
  top: -1px;
}

.commento {
  margin-left: 0;
  margin-right: 5px;
  padding-left: 16px;
  font-size: 1rem;
  color: #667788;
}

.commento:hover {
  color: white;
}

.commento img {
  height: 13px;
  height: 16px;
  margin-right: 5px;
}

.nickname a {
  color: #abc;
  font-size: 0.9rem;
  font-weight: bold;
}

.frase {
  font-family: Georgia, serif;
  margin-bottom: 10px;
  font-size: 1.15rem;
  line-height: 1.5;
}

.plike {
  margin-bottom: 0;
  margin-top: 15px;
  line-height: 1.5;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.2rem;
}

.plike a {
  font-weight: 400;
  margin-right: 0.5em;
  color: #678;
  height: 16pxs;
}

.plike img {
  height: 100%;
  width: 0.97vw;
}

.colonna2 {
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.poplist {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 0.7rem;
  width: 15vw;
}

.lists {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  border-bottom: 1px solid #456;
  width: 15vw;
  color: #9ab;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.7rem;
  letter-spacing: 0.075em;
  margin-top: 0;
  padding-bottom: 5px;
}

.lists a {
  color: #678;
  font-size: 13px;
}

.toplist {
  width: 15.4vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.collezione {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 15.4vw;
}

.ac {
  height: 111px;
  width: 100%;
  margin-bottom: 3px;
}

.ac img {
  width: 100%;
  border-radius: 3px;
  margin-left: -2px;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.3rem;
  color: #678;
}

.user a {
  width: 1.95vw;
  flex-grow: 0;
  flex-shrink: 1;
  align-self: flex-start;
}

.collezione h3 {
  margin: 8px 0 4px;
}

.av {
  height: 18px;
  border-radius: 50%;
  border: solid 1px white;
}

.user p {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.3rem;
  font-size: 0.9rem;
  line-height: 18px;
  margin: 0;
  width: 13.5vw;
}

.user a {
  height: 18px;
  width: 1.18vw;
}

.user a:hover {
  color: white;
}

.ic {
  width: 0.98vw;
  height: 16px;
}

.popreviews {
  padding-bottom: 1.5rem;
  margin-top: 2.45rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.3rem;
}

.popreviews h2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  border-bottom: 1px solid #456;
  width: 15vw;
  color: #9ab;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.7rem;
  letter-spacing: 0.075em;
  margin-top: 0;
  padding-bottom: 5px;
}

.popreviews h2 a {
  color: #678;
  font-size: 13px;
}

.popr {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.3rem;
  width: 15vw;
  height: 40px;
}

.poprdiv {
  padding-right: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #2c3440;
  padding: 10px 0;
}

.avr img {
  height: 70%;
  border-radius: 50%;
  border: 1px solid white;
}

.avrname {
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.infos {
  color: #667788;
}

.popdivb {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.2rem;
  margin-top: 0.1rem;
  margin-left: 0.3rem;
}

.recentstories {
  width: 62vw;
  margin-bottom: 1rem;
}

.recentstories h2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid #456;
  color: #9ab;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.7rem;
  letter-spacing: 0.075em;
  margin-top: 0;
  padding-bottom: 5px;
}

.rcbody {
  display: flex;
  flex-wrap: wrap;
  width: 62vw;
  margin-left: -5px;
  margin-right: -5px;
  padding-left: 5px;
  padding-right: 5px;
  gap: 1rem;
}

.articolo {
  background-color: #202830;
  width: 19.6vw;
  flex-grow: 0;
  display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 5px;
}

.new-width {
  width: 62vw;
}

.immaginearticolo {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.contenutoarticolo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 19.6vw;
}

.headerarticolo {
  display: flex;
  width: 19.6vw;
  justify-content: flex-start;
  gap: 0.3rem;
  height: 24px;
  margin-left: 0.15rem;
  align-items: center;
  color: #aabbcc;
}

.artbody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 0.3rem;
  margin-right: auto;
  margin-bottom: 0.3rem;
  gap: 0.1rem;
  flex-grow: 0;
  flex-shrink: 0;
  height: auto;
}

.readmore {
  color: #aabbcc;
  margin-top: 1.5rem;
  font-weight: bold;
}

.readmore:hover {
  color: aqua;
}

.maintxt {
  flex-grow: 0;
  flex-shrink: 0;
  height: auto;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Georgia, serif;
}

.readstory {
  margin-bottom: auto;
}

.recentshowdowns {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.3rem;
  width: 62.6vw;
}

.sectionews {
  display: flex;
  height: 232px;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.3rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.newsblock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.2rem;
}

.linkimg {
  height: 174px;
}

.newsimg {
  border-radius: 2px;
  height: 100%;
}

.title h2 {
  height: fit-content;
  width: fit-content;
  margin-top: 0.3rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.newsblock p {
  width: 20.2vw;
  font-size: 0.8rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c3440;
  padding: 32px 0;
  padding-bottom: 40px;
  margin-top: 10vh;
  width: 100vw;
  overflow: hidden;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 62vw;
  margin: 0 auto;
}

.footer-nav {
  font-weight: 400;
  margin-bottom: 0.8rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

.footer-links {
  color: #9ab;
  font-size: 1rem;
  font-weight: bold;
}

@media (max-width: 600px) {
  header {
    display: flex;
    background-color: #14181c;
    height: 40px;
    justify-content: flex-end;
    align-items: center;
    gap: 0.2rem;
    width: 91vw;
    padding: 0px 16px;
  }
  .navsection {
    display: none;
  }
  .mobilenav {
    display: flex;
    gap: 0.3rem;
  }
  .mobilenav a img {
    height: 30px;
    width: auto;
  }

  .wrapper {
    width: 91vw;
    margin-top: 1%;
    right: 16px;
    left: 16px;
  }

  .container {
    height: 220px;
    width: 97vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .container div {
    height: 220px;
    margin-top: 7%;
    left: 0;
    width: 100vw;
  }

  .logoletterbox {
    display: block;
    height: 30px;
    margin-bottom: 4%;
  }

  .wrapper h2 {
    text-align: center;
    font-size: 1rem;
    line-height: 1.3;
    margin-bottom: -0.6em;
  }
  #spam {
    width: fit-content;
    height: fit-content;
    font-size: 1rem;
  }
  .socials {
    margin-bottom: 1rem;
    height: fit-content;
    font-weight: 300;
    font-size: 1.2rem;
  }

  .socials img {
    height: 20px;
  }

  .nascondi {
    display: none;
  }
  .boxad {
    width: 70vw;
    height: 130px;
    margin-bottom: -20%;
  }

  .boxad img {
    width: 100%;
    height: 100%;
  }
  #feature {
    gap: 2rem;
    height: 950px;
  }
  #feature h1 {
    font-size: 14px;
    margin-left: -18%;
    margin-bottom: -3%;
    margin-top: 10%;
  }
  .fbox {
    flex-wrap: nowrap;
    flex-direction: column;
    height: 612px;
    width: 91vw;
    align-self: center;
    padding-left: 25px;
  }

  .panel {
    margin-left: 15px;
  }

  .fbox a {
    display: flex;
    width: 75vw;
    padding: 0px 20px;
    padding-top: 16px;
    padding-bottom: 18px;
    flex-grow: 1;
  }

  .fbox a img {
    width: 50px;
    height: 33px;
    margin-top: 10px;
  }

  .livefeed {
    height: 350px;
    width: 80vw;
    margin-bottom: -17%;
  }

  .livefeed div {
    width: 100%;
    flex-wrap: wrap;
    margin-top: -20px;
    height: 270px;
    gap: 1rem;
  }

  .livefeed div a {
    height: 90px;
  }
  .livefeed h2 {
    margin-bottom: 0;
    height: fit-content;
  }
  .livefeed p {
    height: fit-content;
  }

  .livefeed h1 {
    overflow-wrap: break-word;
    height: 368px;
    width: 70vw;
  }

  .reviews {
    flex-direction: column;
  }

  .top {
    width: 80vw;
  }

  .news {
    width: 100%;
    margin-left: 0;
  }

  .colonna1,
  .colonna2 {
    margin-left: -20%;
  }

  .recensioni {
    width: 80vw;
  }

  .utente {
    flex-wrap: wrap;
  }

  .titolofilm {
    flex-direction: column;
  }

  .avatar img {
    height: 24px;
    width: 24px;
  }

  .bloccorec {
    width: 80vw;
  }

  .film-content {
    width: 60vw;
  }

  .nickname {
    overflow-wrap: break-word;
  }

  .titolofilm {
    width: fit-content;
    flex-direction: column;
    align-items: flex-start;
  }

  .nomefilm {
    width: 100%;
  }

  .locandina {
    height: fit-content;
  }

  .utente {
    margin-top: 0.1rem;
    align-items: flex-start;
    justify-content: space-between;
  }

  .nickname {
    flex-direction: column;
    margin-top: -5px;
    width: 50vw;
  }
  .nickname a {
    margin-top: 2%;
  }

  .commento {
    margin-left: -8%;
  }

  .frase {
    margin-top: -10%;
  }

  .likez {
    justify-content: space-between;
    width: 25vw;
  }

  .likez img {
    height: 16px;
    width: 15px;
  }

  .poplist {
    width: 80vw;
  }

  .lists {
    width: 100%;
  }

  .toplist {
    width: 100%;
  }

  .collezione {
    width: 100%;
  }

  .ac {
    height: 162px;
    margin-bottom: -5%;
  }

  .popreviews {
    display: none;
  }

  .av,
  .ic {
    height: 18px;
    width: 18px;
  }

  .user {
    gap: 20px;
  }

  .recentstories {
    width: 80vw;
  }
  .rcbody {
    width: 100%;
  }
  .articolo {
    width: 100%;
    margin-top: 20px;
  }

  .recentshowdowns {
    width: 80vw;
    height: 800px;
  }

  .sectionews {
    width: 100%;
    flex-direction: column;
  }

  .newsblock p {
    width: 100%;
  }

  .recentnews {
    width: 80vw;
    height: 750px;
  }

  .footer {
    width: 97vw;
  }

  .footer-wrapper {
    width: 80%;
  }

  .footer-nav {
    width: 100%;
    align-items: center;
    margin-left: -2%;
  }
}
