body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 13px;
  color: #9ab;
  background-color: #14181c;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1350px;
  height: 95px;
  margin-bottom: -23px;
}

.navsection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 950px;
  height: 72px;
  color: #99aabb;
}

.navection nav {
  font-size: 1rem;
  margin-left: 15px;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1350px;
  height: 675px;
}

.container div {
  background-image: url(public/sfondo.png);
  background-position: center center;
  background-size: cover;
  position: absolute;
  height: 675px;
  top: 0;
  left: 20vh;
  width: 1200px;
  z-index: -1;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1200px;
  height: 100%;
  margin-top: -12%;
  left: 20vh;
  top: 0;
}

.wrapper h2 {
  text-align: center;
  font-size: 2rem;
  line-height: 1.3;
  color: white;
  margin-bottom: -0.6em;
}

#spam {
  text-align: center;
  font-size: 1.2rem;
  width: 23%;
  height: 16px;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  background-color: #00c030;
  line-height: 1;
  padding: 0.625em 1.5em;
  border-radius: 3px;
}

#spam:hover {
  background-color: green;
}

.socials {
  margin-right: 0.5rem;
  margin-bottom: 0.7rem;
  text-align: center;
  width: 950px;
  height: 26px;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 5%;
}

.socials img {
  height: 26px;
}

.boxad {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 950px;
  height: 265px;
  padding: 0 0 3rem;
  gap: 0.3rem;
  z-index: 0;
}

.boxad img {
  border-radius: 5px;
  height: 231px;
}

.boxad img:hover {
  border: 3px solid green;
}

#feature {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding-bottom: 2.5rem;
  width: 950px;
  height: 327px;
}

#feature h1 {
  font-size: 13px;
  font-weight: 400;
  margin: 20px 0px 10px;
}

.fbox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 75%;
}

.fbox a {
  display: flex;
  justify-content: space-around;
  background-color: #445566;
  width: 310px;
  height: 100px;
  border: none;
  margin-bottom: 10px;
}

.fbox a:hover {
  background-color: orange;
}

.fbox a img {
  width: 70px;
  height: 40px;
  padding: 16px 20px 18px;
}

.panel {
  margin: 0 0 65px;
  padding-top: 5px;
  font-size: 14px;
  margin-left: 20px;
  line-height: 1.5;
}

.fbox .azzurro:hover {
  background-color: rgb(38, 81, 199);
}

.fbox .verde:hover {
  background-color: rgb(4, 166, 4);
}

.fbox .arancione:hover {
  background-color: orange;
}

.livefeed {
  position: relative;
  padding: 0 0 2.46153846rem;
  width: 950px;
  height: 166px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.livefeed h2 {
  color: #9ab;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0;
  padding-bottom: 5px;
}

.livefeed div {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  width: 950px;
  padding-top: 0.8rem;
  border-top: 1px solid #456;
}

#counter {
  color: #678;
  font-size: 10px;
  line-height: 1;
  padding-top: 5px;
  position: absolute;
  right: 0;
  top: 0;
}

.livefeed img {
  border: 1px solid white;
}

.livefeed img:hover {
  border: 3px solid green;
}

.livefeed h1 {
  margin: 0.7rem 0;
  color: #abc;
  font-size: 2rem;
  line-height: 1;
  text-align: center;
  font-weight: 400;
}

.word {
  color: #89a;
  margin: 0 0 3.69230769rem;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1;
}

.word strong {
  color: white;
}

.reviews {
  display: flex;
  width: 950px;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 3rem;
}

.colonna1 {
  width: 630px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 0;
  position: relative;
  padding: 0 0 2.5rem;
}

.news {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #456;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.075em;
  margin-bottom: 0.76923077rem;
  margin-top: 0;
  padding-bottom: 5px;
  width: 630px;
}

.news a {
  color: #678;
  font-size: 13px;
}

.recensioni {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: none;
  width: 630px;
  height: auto;
  margin-bottom: 15px;
  position: relative;
  z-index: 0;
}

.bloccorec {
  display: flex;
  justify-content: flex-start;
  padding-top: 0;
  border-color: #2c3440;
  border-bottom: 1px solid #456;
  padding: 15px 0 18px;
  line-height: 1.3;
}

.recensioni div a {
  margin-right: 20px;
  position: relative;
}

.film content {
  width: 540px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.titolofilm {
  display: flex;
  width: 540px;
  justify-content: flex-start;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 10px;
  color: white;
  line-height: 1.2;
}

.nomefilm {
  font-family: TiemposTextWeb-Semibold, Georgia, serif;
  font-size: 1.4rem;
  margin-right: 5px;
  line-height: 1.2;
}

.anno {
  margin-top: 0.25rem;
  color: #89a;
  font-size: 1rem;
}

.utente {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 10px;
  color: #678;
}

.locandina img {
  border: 1px solid white;
}

.locandina img:hover {
  border: 3px solid green;
}

.avatar {
  flex-grow: 0;
  flex-shrink: 0;
  align-self: flex-start;
}

.likez {
  display: flex;
  width: 100px;
  justify-content: space-around;
}

.nickname {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 24px;
  flex-grow: 1;
  margin: 0;
}

.avatar img {
  height: 24px;
  width: 24px;
  border-radius: 10px;
}

.nickname {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-right: 10px;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
}

.stelline {
  position: relative;
  top: -1px;
}

.commento {
  margin-left: 0;
  margin-right: 5px;
  padding-left: 16px;
  font-size: 1rem;
  color: #667788;
}

.commento:hover {
  color: white;
}

.commento img {
  height: 13px;
  height: 16px;
  margin-right: 5px;
}

.nickname strong a {
  color: #abc;
  font-size: 0.9rem;
}

.frase {
  font-family: TiemposTextWeb-Regular, Georgia, serif;
  margin-bottom: 10px;
  font-size: 1.15rem;
  line-height: 1.5;
}

.plike {
  margin-bottom: 0;
  margin-top: 15px;
  line-height: 1.5;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.2rem;
}

.plike a {
  font-weight: 400;
  margin-right: 0.5em;
  color: #678;
  height: 16pxs;
}

.plike img {
  height: 100%;
  width: 15px;
}

.colonna2 {
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.poplist {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 0.7rem;
  width: 230px;
}

.lists {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  border-bottom: 1px solid #456;
  width: 230px;
  color: #9ab;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.7rem;
  letter-spacing: 0.075em;
  margin-top: 0;
  padding-bottom: 5px;
}

.lists a {
  color: #678;
  font-size: 13px;
}

.toplist {
  width: 236px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.collezione {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 236px;
}

.ac {
  height: 111px;
  width: 100%;
  margin-bottom: 3px;
}

.ac img {
  width: 100%;
  border-radius: 3px;
  margin-left: -2px;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.3rem;
  color: #678;
}

.user a {
  width: 30px;
  flex-grow: 0;
  flex-shrink: 1;
  align-self: flex-start;
}

.collezione h3 {
  margin: 8px 0 4px;
}

.av {
  height: 18px;
  border-radius: 50%;
  border: solid 1px white;
}

.user p {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.3rem;
  font-size: 0.9rem;
  line-height: 18px;
  margin: 0;
  width: 207px;
}

.user a {
  height: 18px;
  width: 18px;
}

.user a:hover {
  color: white;
}

.ic {
  width: 15px;
  height: 16px;
}

.popreviews {
  padding-bottom: 1.5rem;
  margin-top: 2.45rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.3rem;
}

.popreviews h2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  border-bottom: 1px solid #456;
  width: 230px;
  color: #9ab;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.7rem;
  letter-spacing: 0.075em;
  margin-top: 0;
  padding-bottom: 5px;
}

.popreviews h2 a {
  color: #678;
  font-size: 13px;
}

.popr {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.3rem;
  width: 230px;
  height: 40px;
}

.poprdiv {
  padding-right: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #2c3440;
  padding: 10px 0;
}

.avr img {
  height: 70%;
  border-radius: 50%;
  border: 1px solid white;
}

.avrname strong {
  color: white;
  font-size: 1rem;
}

.infos {
  color: #667788;
}

.popdivb {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.2rem;
  margin-top: 0.1rem;
  margin-left: 0.3rem;
}

.recentstories {
  width: 950px;
  margin-bottom: 1rem;
}

.recentstories h2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid #456;
  color: #9ab;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.7rem;
  letter-spacing: 0.075em;
  margin-top: 0;
  padding-bottom: 5px;
}

.rcbody {
  display: flex;
  flex-wrap: wrap;
  width: 950px;
  margin-left: -5px;
  margin-right: -5px;
  padding-left: 5px;
  padding-right: 5px;
  gap: 1rem;
}

.articolo {
  background-color: #202830;
  width: 300px;
  flex-grow: 0;
  display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 5px;
}

.new-width {
  width: 950px;
}

.immaginearticolo {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.contenutoarticolo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
}

.headerarticolo {
  display: flex;
  width: 300px;
  justify-content: flex-start;
  gap: 0.3rem;
  height: 24px;
  margin-left: 0.15rem;
  align-items: center;
  color: #aabbcc;
}

.artbody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 0.3rem;
  margin-right: auto;
  margin-bottom: 0.3rem;
  gap: 0.1rem;
  flex-grow: 0;
  flex-shrink: 0;
  height: auto;
}

.readmore {
  color: #aabbcc;
  margin-top: 1.5rem;
}

.readmore:hover {
  color: aqua;
}

.maintxt {
  flex-grow: 0;
  flex-shrink: 0;
  height: auto;
  color: white;
  font-size: 1.5rem;
  font-family: TiemposTextWeb-Regular, Georgia, serif;
}

.readstory {
  margin-bottom: auto;
}

.recentshowdowns {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.3rem;
  width: 960px;
}

.sectionews {
  display: flex;
  height: 232px;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.3rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.newsblock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.2rem;
}

.linkimg {
  height: 174px;
}

.newsimg {
  border-radius: 2px;
  height: 100%;
}

.title h2 {
  height: fit-content;
  width: fit-content;
  margin-top: 0.3rem;
  font-size: 1.2rem;
}

.newsblock p {
  width: 310px;
  font-size: 0.8rem;
}

footer {
  background-color: #2c3440;
  padding: 32px 0;
  padding-bottom: 40px;
  margin-top: 10vh;
  width: 1480px;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 950px;
  margin: 0 auto;
}

.footer-nav {
  font-weight: 400;
  margin-bottom: 0.8rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

.footer-links {
  color: #9ab;
  font-size: 1rem;
}
